* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: ltr;
}

html {
background-color: #012619;
}

html, body {
overflow-x: hidden;
}

a {
    text-decoration: none;
}

.marko-tennis {
position: relative;
top: 0;
left: 0;
width: 100%;
height: fit-content;
font-family: "Roboto Serif";
color: #c0a869;
}

.marko-tennis .blur-filter {
position: absolute;
top: 80px;
height: calc(100% - 80px);
width: 100%;
background-image: url("https://images.unsplash.com/photo-1620742820748-87c09249a72a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dGVubmlzJTIwY291cnR8ZW58MHx8MHx8fDA%3D");
background-repeat: no-repeat;
background-size: cover;
/* filter: sepia(10%); */
filter: saturate(1.2);
z-index: 0;
}

.marko-tennis header {
position: fixed;
width: 100%;
height: 80px;
background-color: #012619;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-size: 20px;
font-weight: 400;
padding: 8px 40px;
z-index: 100;
}

.marko-tennis #logo-n-slogan {
    display: inline-flex;
}

.marko-tennis span:hover {
/* font-weight: 600; */
color: white;
text-decoration: underline;
text-shadow: 1px 1px 0px #000, 0px 0px 5px #000; 
}

.marko-tennis i:hover {
color: white;
text-shadow: 1px 1px 0px #000, 0px 0px 5px #000; 
}

.marko-tennis #logo {
font-weight: 600;
}

.marko-tennis .ball-separator {
display: flex;
flex-direction: row;
align-items: center;
margin-left: 12px;
}

.marko-tennis .sm-ball-wrapper {
display: flex;
align-items: center;
justify-content: center;
}

.marko-tennis .slogan {
display: inline-block;
margin-left: 12px;
}

.marko-tennis hr {
border: none;
}

.marko-tennis nav {
display: inline-flex;
margin-left: 20px;
}

.marko-tennis nav i, a {
    color: #c0a869;
}

.marko-tennis .nav-item {
display: inline-block;
margin-left: 40px;
font-weight: 600;
}

.marko-tennis .icon-wrapper {
display: flex;
justify-content: center;
align-items: center;
width: 32px;
height: 32px;
/* background-color: white;
border-radius: 50%; */
}

.marko-tennis .icon-wrapper:hover {
color: white;
/* background-color: white;
border-radius: 50%; */
}

/*розовые границы div*/
/*.marko-tennis div, header {
border: 2px solid pink;
}*/

.marko-tennis .marko-main {
position: relative;
top: 100px;
left: 0;
padding: 0px 160px 80px;
z-index: 50;
}

.marko-content {
position: relative;
top: 0;
left: 0;
display: flex;
flex-direction: column;
}

.marko-tennis .marko-main-block {
position: relative;
margin-top: 80px;
color: white, #bada55;
}

.marko-tennis .block-subtitle {
position: absolute;
top: 0;
left: 0;
z-index: 50;
}

.marko-tennis .subtitle-bg {
/* dark-green: #012619*/
filter: invert(10%) sepia(33%) saturate(1237%) hue-rotate(110deg) brightness(100%) contrast(99%);
/* goldish: #c0a869*/
/* filter: invert(70%) sepia(41%) saturate(387%) hue-rotate(6deg) brightness(90%) contrast(84%); */
/* gray: #566073 */
/* filter: invert(36%) sepia(11%) saturate(824%) hue-rotate(181deg) brightness(97%) contrast(88%); */
}

.marko-tennis .marko-main-block .subtitle-text {
position: absolute;
top: 20px;
left: 160px;
color: white;
font-size: 48px;
font-weight: 600;
}

.marko-tennis .block-content {
position: relative;
height: 400px;
margin: 60px 60px;
padding: 80px 160px;
display: flex;
flex-direction: column;
justify-content: center;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: white;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid rgba(255, 255, 255, 0.5);
border-right: 1px solid rgba(255, 255, 255, 0.2);
border-top: 1px solid rgba(255, 255, 255, 0.2);
box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.37);
z-index: 0;
}

.marko-tennis  #block-2 .block-content {
padding-right: 240px;
padding-left: 100px;
}

.marko-tennis .block-content p {
text-align: left;
font-size: 28px;
margin-top: 16px;
}

.marko-tennis .block1-img-wrapper {
position: absolute;
top: 0px;
left: 76%;
height: 400px;
width: 400px;
background-color: #012619;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.marko-tennis .img-circle {
border-radius: 50%;
}

.marko-tennis .marko-footer {
position: relative;
top: 0;
left: 0;
height: 200px;
background-color: #012619;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: 20px;
font-weight: 400;
padding: 8px 16px;
z-index: 50;
}

.marko-tennis .btn-back {
position: fixed;
top: 80dvh;
left: 1190px;
z-index: 60;
}

.marko-tennis .circle-bg {
width: 120px;
height: 120px;
background-color: #012619;
border-radius: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.marko-tennis .btn-text-bg {
position: absolute;
margin: auto;
font-size: 24px;
-webkit-text-stroke-width: 10px;
-webkit-text-stroke-color: black;
z-index: 80;
}

.marko-tennis .btn-text {
position: absolute;
font-size: 160px;
margin: auto;
font-size: 24px;
color: white;
z-index: 100;
}

.marko-tennis .btn-text span:hover {
color: white;
text-decoration: none;
text-shadow: 1px 1px 0px #000, 0px 0px 5px #000;
}

.marko-tennis .btn-whatsapp {
position: fixed;
top: 80dvh;
left: 20px;
font-size: 200px;
z-index: 60;
}

.marko-tennis .btn-whatsapp .circle-bg {
width: 120px;
height: 120px;
background-color: #012619;
border-radius: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.marko-tennis .btn-whatsapp .whatsapp-icon-wrapper {
width: 100px;
height: 100px;
background-color: #25D366;
border-radius: 50%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.marko-tennis .game {
position: absolute;
top: 90dvh;
left: 50dvw;
z-index: 110;
}
